.app-container {
  max-width: 800px;
  margin: 0 auto;
}

.header-add-button {
  background-color: #96a4b7;
  margin-right: 10px;
}

.header-save-button {
  background-color: #5ac597;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.header-buttons {
  margin-left: auto;
}

.alert-message {
  align-items: center;
  background-color: #F6FFFB;
  border: 1px #5ac597 solid;
  border-radius: 5px;
  color: #5ac597;
  display: flex;
  font-size: 14px;
  min-width: 400px;
  padding: 8px 16px;
  position: fixed;
  bottom: 100px;
  right: 100px;
}

.alert-x-icon {
  margin-left: auto;
}
