.task {
  align-items: flex-start;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
  color: #96a4b7;
  display: flex;
  min-height: 200px;
  margin-bottom: 10px;
  padding: 10px;
}

.task-delete-icon {
  cursor: pointer;
  margin-left: auto;
}
